
@{
    ViewData["Title"] = "Forgot password";
}

<div class="text-center">
    <p>
        For this sample, all logins are successful. It is out of the scope of this paper to implement a full registration architecture.
        <br />
        <br />
        This work is done as part of the dissertation thesis of Laurențiu-George Stamate. Check out the code <a href="https://github.com/laurentiustamate94/dissertation-thesis">here</a>.
    </p>
</div>

