
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to better privacy</h1>
    <p>This work is done as part of the dissertation thesis of Laurențiu-George Stamate. Check out the code <a href="https://github.com/laurentiustamate94/dissertation-thesis">here</a>.</p>
</div>

